/vendor/
/node_modules/
.env
.env.*
!.env.example
/storage/*.key
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/logs/*.log
/bootstrap/cache/*.php
!/bootstrap/cache/.gitignore
*.sqlite*
.phpunit.result.cache
/public/hot
/public/storage
Homestead.json
Homestead.yaml
.DS_Store
Thumbs.db
